body {
    background-image: url(mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

main {
    align-items: center;
}

.main-nav {
    padding: 20px 40px 20px 40px;
}

.main-nav li {
    font: bold 14px black;
    font-family: 'Encode Sans SC', sans-serif; 
    padding: 4px;
}

a:link {
    text-decoration: none;
}

.intro {
    font-family: 'Encode Sans SC', sans-serif;
    font: 20px black;
    border: 2px solid chocolate;
    padding: 30px;
    background-color: white;
    opacity: 90%;
    margin: auto;
}


.coffee {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin: 10px 20px;
}


/*-----Four major text styles----*/

h1 {
    font-size: 50px;
    font-family: 'Encode Sans SC', sans-serif;
    color: white;
    text-align: center; 
}


h2 {
    border: 2px solid chocolate;
    padding: 10px;
    font: bold 40px black;
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    margin: 50px 10px 10px 50px;
    background-color: white;
    opacity: 90%;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

p {
    font: bold 14px black;
    font-family: 'Encode Sans SC', sans-serif; 
    padding: 5px 20px;
}


/*-----Major part of page after intro---*/

div ul,
section {
    border: 2px solid chocolate;
    padding: 0px 40px 40px 10px;
    font: bold 25px black;
    font-family: 'Encode Sans SC', sans-serif; 
    margin: 10px 0px 0px 10px;
    background-color: white;
    opacity: 90%;
    border-radius: 10%;
    text-align: center;
}


ul {
    list-style-type: none;
}


.menu,
.hours {
    min-width: 250px;
}


footer {
    background: chocolate;
    padding: 20px 100px;
    min-height: calc(100vh- 59px);
    margin-top: 30px;
    text-align: center;
    
}

/*-------CSS for second page on website contact dot html-----*/

#guessinggame {
    background: rgb(105, 194, 132);
    font: black 20px;
    text-align: center;
    padding: 20px 10px;
    border: white dotted 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}



#suggest {
    padding: 10px;
    font: 10px;
    box-shadow: inset 0 0 5px 5px olive;
}




/*----------------Media queries--------------------*/



@media screen and (max-width: 500px) {
   #menu ul li:nth-child(odd) {
        background: chocolate;
        color: white;
    } 
}

@media screen and (max-width: 550px) {
    #guessinggame {
        display: none;
    }
}


@media (min-width: 669px){
    .page-header,
    .main-nav {
        display: flex;
    }
    
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 20px 100px 20px 100px;
        padding: 20px;
    }

    .hours,
    .intro {
        margin: 20px 100px 20px 100px;
        padding: 20px;   
    }

    div ul {
        flex-grow: 1;
    }

    h1 {
        font-size: 70px;
    }  

    p {
        font-size: 18px;
    }
} 


@media (min-width: 1025px){
    .page-header,
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
}

